*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 32em;       
    height: 32em;
    border: 5px solid black;
}

.box{
    width: 2em;
    height: 2em;
    user-select: none;
}
